OPENAI_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_BASE_MODEL=qwen3:8b
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=
SERPER_API_KEY=
OPENWEATHERMAP_API_KEY=
BRAVE_API_KEY=
POLYGON_API_KEY=
RUN_EVEN_WHEN_MARKET_IS_CLOSED=
CREWAI_TRACING_ENABLED=true
GEMINI_API_KEY=
GOOGLE_API_KEY=
RESEND_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=
OPENROUTER_BASE_MODEL=
SLACK_AGENT_CHANNEL_ID=
SLACK_BOT_AGENT_OAUTH_TOKEN=
LAUNCHPAD_TEMPERATURE=
LAUNCHPAD_MAX_RETRIES=